.cart_details_container {
    height: 65%;
    width: 100%;
    background: white;
    padding: 30px 40px;
    position: relative;
}

.cart_details_container header {
    display: flex;
    gap: 20px;
}

.cart_details_hotel_details h4 {
    font-weight: 600;
}

.cart_details_hotel_details p {
    font-size: 0.8rem;
    margin-top: 5px;
    color: rgb(157, 158, 167);
}

.line {
    width: 40px;
    border-bottom: 2px solid black;
    color: black;
    margin-top: 10px;
}

.cart_items {
    margin-top: 20px;
    display: block;
    width: 100%;
    height: 17rem;
    overflow: scroll;

}

.cart_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cart_item span {
    flex-basis: 150px;
    font-size: 0.9rem;

}

.quantity_button_container {
    display: flex;
    gap: 10px;
    border: 0.5px solid grey;
    padding: 5px 7px;
    font-size: 0.9rem;
}


.quantity_button_container button {
    background: none;
    border: none;
    color: #3e9b6d;
    cursor: pointer;
}

.quantity_button_container p {
    color: #3e9b6d;
}

.amount {
    color: #8c8d97;
    font-size: 0.9rem;
}

.bill_details_container {

    position: absolute;
    bottom: 30px;

    width: 80%;
}

.pay_amount_container {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;

}
