.dropdown_container {
  padding: 5px 20px;
}
.dropdown_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown_down {
  transform: rotate(0);
  cursor: pointer;
}
.dropdown_up {
  transform: rotate(180deg);
  cursor: pointer;
}
.dropdown_footer {
  height: 10px;
  width: 100%;
  background-color: #f1f1f6;
  margin-top: 20px;
}
