* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-black: #282c3f;
    --light-black: #686b78;
    --swiggy-orange: #fc8018;
}

body {
    font-family: "ProximaNova", "arial", "Helvetica Neue", sans-serif;

    /* font-family: "Open Sans", sans-serif; */
    position: relative;
}

a:link,
a:visited {
    text-decoration: none;
}

.body-fixed {
    height: 100vh;
    overflow: hidden;
}
